{% from "components/spacer.njk" import spacer %}
{% from "components/border.njk" import border %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if pageTitle %}{{ pageTitle }}{% else %}Page without title{% endif %}</title>

    {% block css %}
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
    {% endblock %}
</head>
<body>

    <table class="body" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="body__wrap" align="center">
                <table class="body__container container" width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="body__content">
                            {% block body %}{% endblock %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>